# バックエンド API のベース URL
VITE_API_URL=https://localhost:5001/

# パルミー動画 / 資料の URL
VITE_PALMIE_VIDEO_URL=http://palmiecdn.nas.localnet/Videos/
VITE_PALMIE_DOCUMENTS_URL=http://palmiecdn.nas.localnet/Documents/

# 電気料金単価（円/kWh）
VITE_KWH_PRICE=30.57
